extends ./layout

block body
  .w3-container.w3-center
    div.w3-card-8.w3-white
      h3= image.alt
      img(src=image.src alt=image.alt)
      div.w3-container.w3-center
        h2= quote.text
        a(href=quote.link)= quote.author
    footer.w3-container
      a(href='http://127.0.0.1:3000/home').w3-btn-floating-large.w3-left.w3-blue R
      a(href='http://127.0.0.1:3000/tweet').w3-btn-floating-large.w3-right.w3-blue S